<section class="m-4 mt-5 pt-5" *ngIf="products.length > 0">
  <div class="row g-4">
    <div class="col-md-2" *ngFor="let item of products">
      <div class="product">
        <!-- add fav item -->
        <i
          *ngIf="!wishListData.includes(item._id)"
          class="fa-regular fa-heart heart"
          (click)="addToWishList(item._id)"
        ></i>
        <!-- delete fav item -->
        <i
          *ngIf="wishListData.includes(item._id)"
          class="fa-solid fa-heart-crack removeheart"
          (click)="removeFav(item._id)"
        ></i>
        <div class="p-2 cursor-pointer" [routerLink]="['/details', item._id]">
          <img [src]="item.imageCover" [alt]="item.title" class="w-100" />
          <h3 class="h6">{{ item.category.name | buy }}</h3>
          <h4 class="h6 text-main">{{ item.title | term : 2 }}</h4>
          <div class="d-flex align-items-center justify-content-between">
            <span>{{ item.price | currency : "E£" }} </span>
            <div>
              <i
                class="fas fa-star"
                *ngFor="let star of [1, 2, 3, 4, 5]"
                [class.rating-color]="item.ratingsAverage >= star"
              ></i>
              <span class="text-muted">{{ item.ratingsAverage }}</span>
            </div>
          </div>
        </div>
        <button class="btn-main w-100" (click)="addProduct(item._id, btn)" #btn>
          Add Product
        </button>
      </div>
    </div>
  </div>
</section>
