<section class="bg-main-light p-4 rounded-3 mt-4 shadow w-50 mx-auto">
  <form action="" [formGroup]="checkout" (ngSubmit)="handelform()">
    <div>
      <label for="details"> Details </label>
      <textarea
        name=""
        id="details"
        class="form-control"
        formControlName="details"
      ></textarea>
    </div>
    <div>
      <label for="phone"> Phone </label>
      <input
        type="tel"
        id="phone"
        class="form-control"
        formControlName="phone"
      />
    </div>
    <div>
      <label for="city"> City </label>
      <input
        type="text"
        id="city"
        class="form-control"
        formControlName="city"
      />
    </div>

    <button class="btn-main mt-3">Checkout</button>
  </form>
</section>
