<section
  *ngIf="step1"
  class="mx-auto w-50 rounded bg-main-light p-3 shadow mt-5"
>
  <form [formGroup]="forgetForm" (ngSubmit)="forgetPass()">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      class="form-control"
      formControlName="email"
    />
    <button class="btn-main mt-3 w-100">Forget Password</button>
    <p
      *ngIf="msg"
      class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2 text-center"
    >
      {{ msg }}
    </p>
  </form>
</section>

<section *ngIf="step2" class="mx-auto w-50 rounded bg-main-light p-3 shadow">
  <form action="" [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
    <label for="resetCode">Reset Code</label>
    <input
      formControlName="resetCode"
      type="text"
      id="resetCode"
      class="form-control"
    />
    <button class="btn-main mt-3 w-100">Reset Code</button>
    <p
      *ngIf="msg"
      class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2 text-center"
    >
      {{ msg }}
    </p>
  </form>
</section>

<section *ngIf="step3" class="mx-auto w-50 rounded bg-main-light p-3 shadow">
  <form action="" [formGroup]="resetPassForm" (ngSubmit)="resetPss()">
    <label for="resetPassword">Reset Password</label>
    <input
      formControlName="newPassword"
      type="password"
      id="resetPassword"
      class="form-control"
    />
    <button class="btn-main mt-3 w-100">Reset Password</button>
    <p
      *ngIf="msg"
      class="alert alert-danger w-75 mx-auto p-1 mb-0 mt-2 text-center"
    >
      {{ msg }}
    </p>
  </form>
</section>
