<section
  class="w-75 bg-main-light mx-auto p-3 rounded-3 my-5"
  *ngIf="cartDetails; else msg"
>
  <div class="d-flex justify-content-between align-items-center">
    <h1>Shop Cart</h1>
    <button class="btn btn-sm btn-outline-danger" (click)="clearCart()">
      Clear All
    </button>
  </div>
  <p class="text-main">
    Total Price : {{ cartDetails.totalCartPrice | currency : " EGP " }}
  </p>
  <div class="row border-bottom py-3" *ngFor="let item of cartDetails.products">
    <div class="col-md-2">
      <img [src]="item.product.imageCover" alt="" class="w-100" />
    </div>

    <div class="col-md-10">
      <div class="d-flex justify-content-between align-items-center">
        <div class="pt-4">
          <h3 class="h5">{{ item.product.title }}</h3>
          <p class="text-main">Price : {{ item.price }}</p>
          <button
            class="btn btn-outline-danger btn-sm"
            (click)="removeItem(item.product._id, btnRemove)"
            #btnRemove
          >
            <i class="fa-regular fa-trash-can"></i> Remove
          </button>
        </div>
        <div>
          <button
            class="btn border-2 btn-outline-success"
            (click)="updateCount(item.product._id, item.count + 1)"
          >
            <i class="fa-solid fa-plus fa-0"></i>
          </button>
          <span class="mx-2">{{ item.count }}</span>
          <button
            class="btn border-2 btn-outline-success"
            (click)="updateCount(item.product._id, item.count - 1)"
          >
            <i class="fa-solid fa-minus fa-0"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <button
    class="btn-main mt-2 py-0 px-1"
    [routerLink]="['/checkout', cartDetails._id]"
  >
    Online Payment <img src="./assets/images/visa-1.svg" alt="" />
  </button>
</section>

<ng-template #msg>
  <h2 class="text-center text-main">Your Cart Is Empty</h2>
</ng-template>
